 @font-face {
	font-family: GothaProReg;
	src: url("fonts/GothaProReg.otf") format("opentype");
}
@font-face {
	font-family: GothaProNarMed;
	src: url("fonts/GothaProNarMed.otf") format("opentype");
}
@font-face {
	font-family: GothaProNarBol;
	src: url("fonts/GothaProNarBol.otf") format("opentype");
}
@font-face {
	font-family: GothaProMedIta;
	src: url("fonts/GothaProMedIta.otf") format("opentype");
}
@font-face {
	font-family: GothaProMed;
	src: url("fonts/GothaProMed.otf") format("opentype");
}
@font-face {
	font-family: GothaProLigIta;
	src: url("fonts/GothaProLigIta.otf") format("opentype");
}
@font-face {
	font-family: GothaProLig;
	src: url("fonts/GothaProLig.otf") format("opentype");
}
@font-face {
	font-family: GothaProIta;
	src: url("fonts/GothaProIta.otf") format("opentype");
}
@font-face {
	font-family: GothaProBolIta;
	src: url("fonts/GothaProBolIta.otf") format("opentype");
}
@font-face {
	font-family: GothaProBol;
	src: url("fonts/GothaProBol.otf") format("opentype");
}
@font-face {
	font-family: GothaProBlaIta;
	src: url("fonts/GothaProBlaIta.otf") format("opentype");
}
@font-face {
	font-family: GothaProBla;
	src: url("fonts/GothaProBla.otf") format("opentype");
}
html,
button,
input,
select,
textarea {
	font-family: GothaProReg, Tahoma, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: GothaProBol, Georgia, serif;
	line-height: 1.3;
}

.mainContent
{
	width: 1140px;
	height: 1000px;
	margin: 0 auto 0;
	text-align: center;
}
.c_1
{
	background: url("images/bg_1.png");
	max-width: 1920px;
	width: 100%;
	height: 1000px;
}
.c_2
{
	background: url("images/bg_2.png");
}
.c_3
{
	background: url("images/bg_3.png");
}
.c_4
{
	background: url("images/bg_4.png");
}
body 
{
	display: none!important;
}

 #mapDiv
 {
	 border-radius: 50%!important;
 }

 @media only screen and (min-width: 150px) and (max-width: 400px){
.c_4_4 {
display: none;
}
 }